/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.user-management-panel {
  width: 500px;
}

.login {
  display: flex;
}
.panel {
  width: 50%;
  height: 100vh;
}

.login-form {
  padding-top: 15rem;
  display: grid;
}

mat-form-field {
  width: 20rem;
  margin: auto;
}

.centered {
  text-align: center;
}
