<mat-card>
  <h2>Dashboards</h2>
  <div class="dashboard">
    <div class="dashboard-banner">
      <div class="totals section">
        <div>Tokens issued 1.2m</div>
        <div>Total users 10k</div>
      </div>
      <div class="load section">
        <div>Daily Requets</div>
        <div>443</div>
      </div>
      <div class="failures section">
        <div>Failure Rate</div>
        <div>2%</div>
      </div>
    </div>
  </div>
</mat-card>
<mat-divider vertical></mat-divider>
<h2>Activity Feed</h2>
<div class="medium-panel">
  <mat-card *ngFor="let login of logins">
    {{ login.timeStamp | date: "mediumDate" }}
    <div class="log-entry">
      <div>{{ login.timeStamp | date: "mediumTime" }}</div>
      <div>{{ login.user.email }}</div>
      <div>{{ login.origin }}</div>
    </div>
  </mat-card>
</div>
