<h1>{{ isEdit ? "Update" : "Create" }} Account</h1>

<div
  class="form-panel centered"
  [formGroup]="accountForm"
  *ngIf="isEdit && !isLoading; else loading"
>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="userName" required />
      <mat-error *ngIf="accountForm.controls['userName'].hasError('required')"
        >Name is required</mat-error
      >
      <mat-error *ngIf="accountForm.controls['userName'].hasError('minlength')"
        >Name must be 5 chars long</mat-error
      >
      <mat-error *ngIf="accountForm.controls['userName'].hasError('maxlength')"
        >Name must be less than 255 chars</mat-error
      >
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="accountForm.controls['email'].hasError('required')"
        >Email is required</mat-error
      >
      <mat-error *ngIf="accountForm.controls['email'].hasError('minlength')"
        >Email must be 5 chars long</mat-error
      >
      <mat-error *ngIf="accountForm.controls['email'].hasError('maxlength')"
        >Email must be less than 320 chars</mat-error
      >
      <mat-error *ngIf="accountForm.controls['email'].hasError('email')"
        >Email must be valid</mat-error
      >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="accountForm.controls['password'].hasError('required')"
        >Password is required</mat-error
      >
      <mat-error *ngIf="accountForm.controls['password'].hasError('minlength')"
        >Password must be 5 chars long</mat-error
      >
      <mat-error *ngIf="accountForm.controls['password'].hasError('maxlength')"
        >Password must be less than 255 chars</mat-error
      >
    </mat-form-field>
  </div>
  <div>
    <button mat-button>Cancel</button>
    <button mat-button [disabled]="false">
      {{ isEdit ? "Update" : "Create" }}
    </button>
  </div>
</div>

<ng-template #loading> Loading </ng-template>
