<h1 class="centered">Reset Account Password</h1>

<div
  class="form-panel centered"
  [formGroup]="accountForm"
  *ngIf="!isLoading; else loading"
>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="accountForm.controls['password'].hasError('required')"
        >Password is required</mat-error
      >
      <mat-error *ngIf="accountForm.controls['password'].hasError('minlength')"
        >Password must be 5 chars long</mat-error
      >
      <mat-error *ngIf="accountForm.controls['password'].hasError('maxlength')"
        >Password must be less than 255 chars</mat-error
      >
    </mat-form-field>
  </div>

  <div>
    <button mat-button (click)="cancel()">Cancel</button>
    <button
      [disabled]="!accountForm.touched || accountForm.invalid"
      mat-button
      (click)="updatePassword()"
    >
      Update
    </button>
  </div>
</div>

<ng-template #loading>
  <mat-spinner class="spinner"></mat-spinner>
</ng-template>
