<div class="banner">
  <h1>Simple Sign On</h1>
</div>

<mat-divider></mat-divider>
<h2>User Management Panel</h2>
<div class="user-management-panel">
  <div>
    <mat-card *ngFor="let user of users" class="user-management-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <mat-icon>account_circle</mat-icon>
        </div>
        <mat-card-title> {{ user.name }}</mat-card-title>
        <mat-card-subtitle> {{ user.email }} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button>Edit</button>
        <button mat-button>Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="add-user-button">
    <button mat-fab color="primary" aria-label="Add User to List">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
