<h1 mat-dialog-title>{{ data.editMode ? "Edit" : "Create" }} user</h1>
<div class="form-panel" mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="data.name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email" />
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="!data.editMode">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="data.password" />
  </mat-form-field>

  <mat-checkbox
    (change)="setIsManagement($event.checked)"
    [(ngModel)]="data.isManagement"
  >
    Management Access
  </mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
    {{ data.editMode ? "Update" : "Create" }}
  </button>
</div>
