<h1 mat-dialog-title>{{ data.editMode ? "Edit" : "Create" }} user</h1>
<div class="form-panel" mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input
      matInput
      [(ngModel)]="data.name"
      [formControl]="nameFormControls"
      [errorStateMatcher]="matcher"
      required
    />
    <mat-error *ngIf="nameFormControls.hasError('required')"
      >Name is required</mat-error
    >
    <mat-error *ngIf="nameFormControls.hasError('minlength')"
      >Name must be 5 chars long</mat-error
    >
    <mat-error *ngIf="nameFormControls.hasError('maxlength')"
      >Name must be less than 255 chars</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input
      matInput
      [(ngModel)]="data.email"
      [formControl]="emailFormControls"
      [errorStateMatcher]="matcher"
    />
    <mat-error *ngIf="emailFormControls.hasError('required')"
      >Email is required</mat-error
    >
    <mat-error *ngIf="emailFormControls.hasError('minlength')"
      >Email must be 5 chars long</mat-error
    >
    <mat-error *ngIf="emailFormControls.hasError('maxlength')"
      >Email must be less than 320 chars</mat-error
    >
    <mat-error *ngIf="emailFormControls.hasError('email')"
      >Email must be a valid email</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="!data.editMode">
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      [(ngModel)]="data.password"
      [formControl]="passwordFormControls"
      [errorStateMatcher]="matcher"
    />
    <mat-error *ngIf="passwordFormControls.hasError('required')"
      >Password is required</mat-error
    >
    <mat-error *ngIf="passwordFormControls.hasError('minlength')"
      >Password must be 5 chars long</mat-error
    >
    <mat-error *ngIf="passwordFormControls.hasError('maxlength')"
      >Password must be less than 255 chars</mat-error
    >
  </mat-form-field>

  <mat-checkbox
    (change)="setIsManagement($event.checked)"
    [(ngModel)]="data.isManagement"
  >
    Management Access
  </mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="data"
    cdkFocusInitial
    [disabled]="
      !data.editMode
        ? !(
            nameFormControls.valid &&
            emailFormControls.valid &&
            passwordFormControls.valid
          )
        : !(nameFormControls.valid && emailFormControls.valid)
    "
  >
    {{ data.editMode ? "Update" : "Create" }}
  </button>
</div>
