<div class="login">
  <div class="left panel"></div>

  <mat-divider vertical></mat-divider>

  <div class="right panel">
    <div class="login-form">
      <div class="centered">
        <h1>{{ isManagementLogin ? "Management Login" : "Public Login" }}</h1>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          (keyup.enter)="login()"
          [(ngModel)]="userLogin.email"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          [(ngModel)]="userLogin.password"
          (keyup.enter)="login()"
        />
      </mat-form-field>
    </div>
    <div class="centered">
      <button mat-button>Cancel</button>
      <button mat-button (click)="login()">Login</button>
    </div>
  </div>
</div>
