<div class="login">
  <img src="../../assets/cubey quick.svg" class="left panel" />
  <mat-divider vertical></mat-divider>
  <div class="right panel">
    <div class="login-form" [formGroup]="loginForm">
      <div class="centered">
        <h1>{{ isManagementLogin ? "Management Login" : "Public Login" }}</h1>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          (keyup.enter)="login()"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
          (keyup.enter)="login()"
        />
      </mat-form-field>
    </div>

    <div class="centered">
      <mat-error>{{ errorText }}</mat-error>
      <div class="small-text">
        {{ loginDetails.text }}
        <button mat-button (click)="createOrEditAccount(loginDetails)">
          {{ loginDetails.button }}
        </button>
      </div>
      <button mat-button>Cancel</button>
      <button mat-button (click)="login()">Login</button>
    </div>
  </div>
</div>
